.tabs {
  &-content {
    min-width: 900px;
    margin: 0 16px;
    padding: 16px;
    background-color: #fff;
    overflow: hidden;

    h5 {
      margin-bottom: 0;
    }

    .tips {
      color: #666;
    }
  }
}

.tree {
  margin-top: 12px;
}

.checkBoxList {
  flex: 1;
}

.tabItem > div {
  min-height: 46px;
}

.model {
  width: 100%;
  padding: 10px 0 20px;

  > div {
    width: 100%;
  }
}

.gridItem {
  margin: 5px 0;
}

.saveBox {
  display: flex;
  justify-content: space-between;
}

.showMore {
  max-width: 500px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 16px;
  flex-shrink: 0;

  &-content {
    margin-top: 10px;
  }
}

.right {
  flex: 1;
  margin: 0px 0px 0px 16px;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 4px;
}

.header {
  .flex-between;

  position: relative;
  padding-bottom: 10px;

  &::after {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: -2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }
}

.title {
  padding-left: 12px;
  display: inline-flex;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  position: relative;

  &::after {
    content: '';
    width: 4px;
    position: absolute;
    left: 0px;
    top: 4px;
    bottom: 4px;
    background-color: @primary-color;
  }
}

.choosed {
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 600;
  margin: 16px 20px;
  display: flex;
}
