.tabs {
  &-content {
    min-width: 900px;
    margin: 0 16px;
    padding: 16px;
    background-color: #fff;
    overflow: hidden;

    h5 {
      margin-bottom: 0;
    }

    .tips {
      color: #666;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.save-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tree {
  margin-top: 12px;
}

.checkBoxList {
  flex: 1;
}

.tabItem > div {
  min-height: 46px;
}

.model {
  width: 100%;
  padding: 10px 0 20px;

  > div {
    width: 100%;
  }
}

.grid-item {
  margin: 5px 0;
}

.panel {
  min-height: 650px;
}

.checked-panel {
  padding: 20px 40px;
  border: 1px solid rgb(221, 221, 221);
}

.system-item {
  cursor: pointer;
  display: inline-block;
  text-align: center;

  &--active {
    background-color: @primary-color;
    color: rgb(253, 253, 253);
  }
}
