.tabs {
  &-content {
    min-width: 900px;
    margin: 0 16px;
    padding: 16px;
    background-color: #fff;
    overflow: hidden;

    h5 {
      margin-bottom: 0;
    }

    .tips {
      color: #666;
    }
  }
}

.tree {
  margin-top: 12px;
}

.checkBoxList {
  flex: 1;
}

.tabItem > div {
  min-height: 46px;
}

.model {
  width: 100%;
  padding: 10px 0 20px;

  > div {
    width: 100%;
  }
}

.gridItem {
  margin: 5px 0;
}

.saveBox {
  display: flex;
  justify-content: space-between;
}

.showMore {
  max-width: 500px;
}
