.content_wrapper {
  background-color: #fff;
  padding: 24px 32px;
  margin: 16px;
  border-radius: 2px;
}

.container__scroll {
  overflow: auto;
}

.user-center-page-container-warp {
  background-color: #fff;
  border-top: 1px solid rgb(0 0 0 / 6%);
}

.user-center-page-container-detail {
  display: flex;
}

.user-center-page-container-main {
  .user-center-page-container-row {
    display: flex;
    width: 100%;
  }

  .user-center-page-container-title-content {
    margin-bottom: 16px;
  }

  .user-center-page-container-title,
  .user-center-page-container-content {
    flex: auto;
    width: 100%;
  }

  .user-center-page-container-extraContent,
  .user-center-page-container-main {
    flex: 0 1 auto;
  }

  .user-center-page-container-main {
    width: 100%;
  }

  .user-center-page-container-title {
    margin-bottom: 16px;
  }

  .user-center-page-container-logo {
    margin-bottom: 16px;
  }

  .user-center-page-container-extraContent {
    min-width: 242px;
    margin-left: 88px;
    text-align: right;
  }
}
